html {
	font-family: sans-serif;
	background: #1c63b4 url("ui/cloudbg.png");
}

.ui_realContainer {
	width: clamp(270px,100%,1080px);
	display: block;
	margin: 0 auto;
}
#header, #fadeout {
	width: clamp(270px,100%,1080px);
	display: block;
}
.ui_Navbar, .ui_main, .ui_Bottomshelf, footer, #main {
	background: rgb(56, 40, 100);
	display: block;
	margin: 0;
	padding: 10px;
}

.ui_Button {
	width: clamp(64px,25%,137px)
}

.ui_Navbar, .ui_main, .ui_Bottomshelf {
	color: #fff;
	font-family: serif;
}
footer {
	font-size: 12pt;
}
#cc-license {
	width: 88px;
	height: 31px;
	float: right;
}

a:link, a:visited {
	color: #ffa;
}
a:active {
	color: #faa;
}


.ui_redirectPopup{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000cc;
	color: #fff;
}

.ui_redirectBox{
	width: 40%;
	height: calc(height + 40%);
	background: #fff;
	color: #000;
	padding: 1%;
	text-align: center;
	font-size: 24pt;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ui_redirectMsg {
	font-weight: 600;
}

.ui_redirectButton {
	background: #ccc;
	border: 2px solid #888;
	font-size: 18pt;
	font-weight: 900;
}

.ui_RedirectNOW {
	background: #e00;
	border: 2px solid #a00;
	color: #fff;
}

main p {
	font-size: 16pt;
}